$font-normal: 'Proza Libre', sans-serif;
$font-titles: 'Cormorant Garamond', serif;

$color-main: #F5F2E9;
$color-secondary: #E1DED7;
$color-text: #878581;
$color-fade: #D1D0C8;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 80%;
  max-width: 1085px;
  height: 30rem;
  background-color:$color-main;
  margin: 2rem auto;
  border-radius: 8px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 60px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "menu menu info info info info image image image image image image"
                        "menu menu info info info info select select select select select select";

  .menu {
    border:1px solid  $color-secondary;
    grid-area: menu;
    display: flex;
    flex-direction: column;

    &__toggle {
      border-bottom: 1px solid $color-secondary;
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 15%;
      }
    }

    &__volume {
      width: 100%;
      height: 45%;
      border-bottom: 1px solid $color-secondary;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.7rem;
        font-family: $font-normal;
        transform: rotate(270deg);
        position: absolute;
        width: 13rem;
        padding: 0 5%;
        & .progressBar {
          width: 7rem;
          height: 0.2rem;
          display: flex;
          align-items: center;
          background-color: #D1D0C8;
          &__inner {
            width: 70%;
            height: 80%;
            background-color: #878581;
          }
        }
        & .fade_text {
          color: $color-fade;
        }
      }
    }
    &__social {
      width: 100%;
      height: 25%;
      border-bottom: 1px solid $color-secondary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .social-logo {
        width: 1rem;
        &--facebook {
          margin-bottom: 1rem;
        }
        &--instagram {
          margin-bottom: 1rem;
        }
      }
    }
    &__language {
      height: 15%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .languages_box {
        background-color: transparent;
        border: none;
        font-family: $font-normal;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .characterInfo {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    border: 1px solid $color-secondary;
    font-family: $font-normal;

    .comic_house {
      font-size: 0.7rem;
      color: $color-fade;
    }

    h1 {
      font-family: $font-titles;
      font-size: 3.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    .character_name {
      font-size: 0.8rem;
      margin-bottom: 0.8rem;
    }

    .character_summary {
      color: $color-text;
      font-size: 0.9rem;
      margin-bottom: 1.5rem;
    }
    .character_links {
      li {
        list-style: none;
        padding-bottom: 1rem;
        a {
          color: #000;
          text-decoration: none;
          border-bottom: 2px solid #000;
          padding-bottom: 0px;
        }
      }
    }
  }
  .characterImage {
    border: 1px solid #E1DED7;
    grid-area: image;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 64%;
      position: absolute;
      right: 3rem;
      bottom: -1.7rem;
      z-index: 1;
    }
    .email_box {
      position: absolute;
      right: 0;
      font-family: 'Proza Libre', sans-serif;
      font-size: 0.7rem;
      border: 1px solid #E1DED7;
      border-top: none;
      border-right: none;
      width: 11rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
    }
  }
  .characterSelection {
    border: 1px solid #E1DED7;
    grid-area: select;
    position: relative;
    z-index: 10;
  }
  
}